/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiDypQkot1TnFhsFMOfGShlFcWFaA4XyArNwZ4g-QPdtFg&skey=b7d9d887ed217aec&v=v13) format('woff2');
}
